# Ignore rendered outputs
*.html linguist-detectable=false
_site/** linguist-detectable=false
docs/** linguist-detectable=false

# Ignore Quarto source for language stats
*.qmd linguist-detectable=false